.org-members .action {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.org-members {
    border-radius: 15px;
    border: none;
    margin-bottom: 15px;
}

.disable-account, .approve-account {
    width: 100px;
    height: 40px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-items: center;
}


.approve-account {
    background-color: hsl(125, 100%, 28%);
}

.approve-account:hover {
    background-color:  hsl(125, 100%, 38%);
}

.approve-account:active {
    background-color:  hsl(125, 100%, 18%);
}

.disable-account {
    background-color: hsl(4, 73%, 67%);
}

.disable-account:hover {
    background-color: hsl(19, 73%, 67%);
}

.disable-account:active {
    background-color: hsl(19, 73%, 47%);
}

.status-approved, .status-unapproved {
    font-size: small;
    padding: 5px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.status-approved {
    border: 2px solid rgb(0, 136, 0);
}

.status-unapproved {
    border: 2px solid rgb(255, 24, 24);
}

.org-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.table-title {
    margin-top: 15px;
    font-weight: bold;
    font-size: large;
    color: white;
}