.event-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.form-elements {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#description {
    width: 100%;
    height: 250px;
}

#form-input-organization {
    pointer-events: none;
    color: grey;
}
