.qr-scanner { 
    font-family: Arial; 
    text-align: center; 
    padding: 2rem; 
}
#qr-reader { 
    display: none; 
}

#qr-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 15px;
    margin: 15px;
}

#qr-result .login-msg-ok, #qr-result .login-msg-error  {  
    font-size: 1.2rem; 
    font-weight: bold;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    padding: 5px;
}

#qr-result .login-msg-ok{
    border: 3px solid green;
    color: green;
}

#qr-result .login-msg-error{
    border: 3px solid red;
    color: red;
}

input[type="file"] {
    margin-top: 1rem;
    padding: 0.5rem;
}