.sidebar {
    background-color: white;
    padding-top: 0px;
    height: 100%;
}

.sidebar-header {
    font-size: 26px;
    color: #5a67d8;
}

.sidebar-header h2 {
    background-color: lightgray;
    height: 100px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.nav-menu {
    list-style: none;
    padding: 20px 0;
}

.nav-link, .nav-link-active {
    display: block;
    padding: 18px 25px;
    color: #4a5568;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav-link:hover {
    background-color: #667eea;
    color: white;
    padding-left: 30px;
}

.nav-link-active {
    background-color: #5a67d8;
    color: white;
}

.logout-message, .logout-message-active {
    border: 1px solid black;
    position: absolute;
    top: 10px;
    left: 40vw;
    z-index: 1;
    background-color: white;
    width: 20vw;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.logout-message-active {
    opacity: 1;
    animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}