.ticket-card {
    height: 200px;
    width: 450px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.ticket-card:hover {
    background-color: hsl(0, 0%, 90%);
    transform: translateY(-8px);
}

.ticket-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 5px;
}

.ticket-info .info {
    display: flex;
    align-items: baseline;
    margin: 3px;
}

.ticket-info .title {
    font-weight: bold;
}

.qrcode {
    border: 5px solid black;
    margin: 10px;
}

.ticket-popup-container, .ticket-popup-container-open {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    box-sizing: border-box;
    display: none;
}

.ticket-popup-container-open {
    display: flex;
}

.ticket-popup {
    padding: 20px 0px;
    border: 1px solid orange;
    box-sizing: border-box;
    width: 70vw;
    height: 60vh;
    display: grid;
    justify-content: center;
    grid-template-rows: 5fr 2fr;
    background-color: white;
    border-radius: 30px;
   
}

.ticket-popup .qrcode img {
    border: 3px solid black;
    box-sizing: border-box;
   height: 100%;
}

.ticket-popup .qrcode {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

