/* Footer */
.footer {
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}