.error-page-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    box-sizing: border-box;
}

.error-page-container .main-content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.error-page-container .main-content button {
  margin: 10px;
}